# Flutter
flutter/.dart_tool/
flutter/.fvm/
flutter/build/
flutter/.metadata
flutter/*.iml
flutter/.idea/
flutter/.flutter-plugins
flutter/.flutter-plugins-dependencies

# Flutter Desktop
flutter/linux/flutter/ephemeral/
flutter/linux/flutter/generated_plugin_registrant.cc
flutter/linux/flutter/generated_plugin_registrant.h
flutter/linux/flutter/generated_plugins.cmake
flutter/windows/flutter/ephemeral/
flutter/windows/flutter/generated_plugin_registrant.cc
flutter/windows/flutter/generated_plugin_registrant.h
flutter/windows/flutter/generated_plugins.cmake
flutter/macos/Flutter/ephemeral/
flutter/macos/Flutter/GeneratedPluginRegistrant.swift

# Pebble
pebble/build/
pebble/.lock-waf_*

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Misc
*.log
__pycache__/
*.pyc
tools/.venv/
*.svg
*.mss

# FVM Version Cache
.fvm/
.pebble_emu.pid
.beads/last-touched

# oh-my-opencode
.sisyphus
